# copy this file to '/opt/ros/noetic/share/ros/config/' to disable [DEBUG] informations

#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file


log4j.logger.ros=ERROR
log4j.logger.ros.roscpp.superdebug=ERROR


log4j.logger.asyncio=ERROR
log4j.logger.concurrent=ERROR
log4j.logger.concurrent.futures=ERROR
log4j.logger.rosgraph=ERROR
log4j.logger.rosgraph.network=ERROR
log4j.logger.rosout=ERROR 
log4j.logger.rospy=ERROR
log4j.logger.rospy.client=ERROR 
log4j.logger.rospy.core=ERROR 
log4j.logger.rospy.impl=ERROR
log4j.logger.rospy.impl.masterslave=ERROR 
log4j.logger.rospy.impl.statistics=ERROR 
log4j.logger.rospy.init=ERROR
log4j.logger.rospy.internal=ERROR 
log4j.logger.rospy.registration=ERROR 
log4j.logger.rospy.rosout=ERROR 
log4j.logger.rospy.service=ERROR 
log4j.logger.rospy.simtime=ERROR 
log4j.logger.rospy.tcpros=ERROR 
log4j.logger.rospy.topics=ERROR 
log4j.logger.xmlrpc=ERROR


log4j.logger.ros.gazebo_plugins=ERROR
log4j.logger.ros.gazebo_plugins.camera_utils=ERROR
log4j.logger.ros.gazebo_plugins.diff_drive=ERROR
log4j.logger.ros.gazebo_plugins.gpu_laser=ERROR
log4j.logger.ros.gazebo_plugins.imu=ERROR
log4j.logger.ros.gazebo_plugins.openni_kinect=ERROR
log4j.logger.ros.gazebo_plugins.utils=ERROR









